WebContent/wsdl/InsuranceServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.service.otus.ru" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.service.otus.ru" xmlns:intf="http://soap.service.otus.ru" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.service.otus.ru" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="login">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType/>
   </element>
   <element name="calculate">
    <complexType>
     <sequence>
      <element name="fullName" type="xsd:string"/>
      <element name="age" type="xsd:int"/>
      <element name="isCredit" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculateResponse">
    <complexType>
     <sequence>
      <element name="calculateReturn" type="xsd:decimal"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculateResponse">

      <wsdl:part element="impl:calculateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateRequest">

      <wsdl:part element="impl:calculate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="InsuranceServiceImpl">

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="calculate">

         <wsdl:input message="impl:calculateRequest" name="calculateRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculateResponse" name="calculateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InsuranceServiceImplSoapBinding" type="impl:InsuranceServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="calculate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InsuranceServiceImplService">

      <wsdl:port binding="impl:InsuranceServiceImplSoapBinding" name="InsuranceServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/ProjectAPI/services/InsuranceServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
